<div class="main-container">
  <img src="/assets/img/Capa1.png" />
  <div class="sign-up-container">
    <a class="back" href="/login"><mat-icon>arrow_back</mat-icon></a>
    <div class="header">
      <div class="header-text">Sign up</div>
      <div class="vector"></div>
    </div>
    <form [formGroup]="signUpForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Username"
        />
        <mat-icon class="mr-8" matSuffix>mode_edit</mat-icon>
        <mat-error
          *ngIf="
                name?.errors?.['required']
              "
        >
          Please enter a valid Username
        </mat-error>
        <mat-error *ngIf="signUpForm.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your email </mat-label>
        <input
          value="email"
          formControlName="email"
          type="email"
          matInput
          placeholder="E-mail address"
          required
        />
        <mat-icon class="mr-8" matSuffix>mail</mat-icon>
        <mat-error *ngIf="email?.errors?.['required']">
          Email is required</mat-error
        >
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a correct email format</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your password</mat-label>
        <input
          formControlName="password"
          matInput
          required
          [type]="hide1 ? 'password' : 'text'"
          minlength="8"
        />
        <button
          class="btn-pw"
          mat-icon-button
          matSuffix
          (click)="hide1 = !hide1"
        >
          <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors?.['required']">
          Please enter your password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm your password</mat-label>
        <input
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
          matInput
          [type]="hide ? 'password' : 'text'"
          minlength="8"
        />
        <button class="btn-pw" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors?.['required']">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </form>
    <button class="btn-sign-up">Sign up</button>
  </div>
</div>
