<div class="main-container">
  <img src="/assets/img/Capa1.png" />
  <div class="header-container">
    <div class="container-sign-up">
      <p class="sign-text">Not a Join user?</p>
      <a class="sign-up" href="/sign-up">Sign up</a>
    </div>
  </div>
  <div class="login-container">
    <div class="header">
      <div class="header-text">Log in</div>
      <div class="vector"></div>
    </div>
    <form [formGroup]="loginForm">
      <mat-form-field class="full-width formField" appearance="outline">
        <mat-label class="full-width">E-Mail</mat-label>
        <input
          matInput
          value="email"
          placeholder="Email address"
          formControlName="email"
          type="email"
          required
        />
        <mat-icon class="mr-8" matSuffix>mail</mat-icon>
        <mat-error
          *ngIf="
                email?.errors?.['required']
              "
        >
          Please enter a valid E-Mail
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          E-Mail is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
          minlength="8"
        />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required</mat-error
        >
        <button class="btn-pw" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="container-checkbox">
      <input class="checkbox" type="checkbox" />
      <p>Remember me</p>
      <a href="">Forgot my password</a>
    </div>
    <div class="container-btn">
      <button class="btn-login">Log in</button>
      <button class="btn-guest">Guest Log in</button>
    </div>
  </div>
</div>
