<div class="main-container">
  <div class="logo-container">
    <img class="logo" src="./assets/img/CapaWhite.png" />
  </div>
  <div class="container-menu">
    <a routerLink="/home" routerLinkActive="isSelected"
      ><img src="./assets/img/summary.png" />Summary</a
    >
    <a routerLink="/board" routerLinkActive="isSelected"
      ><img src="./assets/img/board.png" />Board</a
    >
    <a routerLink="/task" routerLinkActive="isSelected"
      ><img src="./assets/img/Task.png" />Add Task</a
    >
    <a routerLink="/contacts" routerLinkActive="isSelected"
      ><img src="./assets/img/Contacts.png" />Contacts</a
    >
  </div>
  <div class="container-notice">
    <span class="notice"
      ><img src="./assets/img/notice.png" />Legal notice</span
    >
  </div>
</div>
