<div class="main-container">
  <div class="logo-container">
    <img class="logo" src="./assets/img/CapaWhite.png" />
  </div>
  <div class="container-menu">
    <a (click)="homeLink()" routerLink="/home" [class.isSelected]="summary"
      ><img src="./assets/img/summary.png" />Summary</a
    >
    <a (click)="boardLink()" routerLink="/home/board" [class.isSelected]="board"
      ><img src="./assets/img/board.png" />Board</a
    >
    <a (click)="taskLink()" routerLink="/home/task" [class.isSelected]="task"
      ><img src="./assets/img/Task.png" />Add Task</a
    >
    <a
      (click)="contactLink()"
      routerLink="/home/contacts"
      [class.isSelected]="contacts"
      ><img src="./assets/img/Contacts.png" />Contacts</a
    >
  </div>
  <div class="container-notice">
    <span class="notice"
      ><img src="./assets/img/notice.png" />Legal notice</span
    >
  </div>
</div>
