@font-face {
    font-family: "Inter";
    src: url("/src/assets/fonts/Inter-Regular.ttf") format("ttf");
}
@import "material-icons/iconfont/material-icons.css";
body,
html {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
