@font-face {
    font-family: "Inter";
    src: url("/src/assets/fonts/Inter-Regular.ttf") format("ttf");
}
@import "material-icons/iconfont/material-icons.css";
body,
html {
    margin: 0;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}
.mat-form-field-wrapper {
    padding-bottom: unset !important;
}
.d-none {
    display: none;
}
.app-visible {
    visibility: hidden;
}
.d-show {
    visibility: visible;
}
.mat-spinner circle {
    stroke: #2a3647 !important;
}
